* {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background: #86C66F
}

.app{
  background: #FFF;
  width:95%;
  max-width: 600px;
  margin:100px auto 0;
  border-radius: 10px;
  padding: 60px;
}
.app h1{
  font-size: 30px;
  color:#001e4d;
  font-weight:600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
.quiz{
  padding:25px 0;
}
.quiz h2{
  font-size: 20px;
  color: #001e4d;
  font-weight: 600;
}

.btn{
  font-size:15px;
  background: #fff;
  color: #222;
  font-weight: 500;
  width:100%;
  border: 1px solid #222;
  padding: 15px;
  margin: 10px 0;
  text-align:left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover:not([disabled]){
  background: #222;
  color: #fff;
}
.btn:disabled{
  cursor: no-drop
}

#next-button{
  font-size:15px;
  background: #86C66F;
  color:#fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 15px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
.correct{
  background: rgb(0, 249, 33);
  color:black;
  font: bold;
}
.incorrect{
  background: red;
  color: black;
  font: bold;
}

#home-button {
  font-size:15px;
  background: #86C66F;
  color:#fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 15px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

#last-button {
  justify-content: center;
  align-items:center;
  display:flex;
  flex-direction:row;
}

#anchor {
  text-decoration:none;
}