/* New Color Palette:
* (Text):      #E8E9F0      (text, contrast with dark)
* (Primary):   #493165      
* (Secondary): #86C66F      (canvas background)
* (Accent):    #86C66F
*/

.navbar-dark .navbar-brand,
.navbar-dark,
.navbar-nav .nav-link {
  color: #e8e9f0;
  /* Dark green for brand name & nav links for visibility */
}

.nav-link {
  font-size: 1.25rem !important;
}

.navbar-toggler-icon {
  color: #e8e9f0 !important;
}

.btn-info {
  color: #e8e9f0 !important;
  /* Lightest shade for text on info button for contrast */
  background-color: #728661 !important;
  /* Light green for button background */
  border: none !important;
  transition: background-color 0.5s ease;
}

.btn-info:hover {
  color: #e8e9f0 !important;
  /* Lightest shade for text */
  background-color: #667756 !important;
  /* Dark green for primary button background */
}

.btn-main {
  color: #e8e9f0 !important;
  /* Lightest shade for text */
  background-color: #493165 !important;
  /* Dark green for primary button background */
  transition: background-color 0.5s ease !important;
}

.btn-main:hover {
  color: #e8e9f0 !important;
  /* Lightest shade for text */
  background-color: #36244b !important;
  /* Dark green for primary button background */
}

body {
  background-color: #e8e9f0 !important;
  /* Lightest shade for body background to follow the 60% rule */
}

.navbar-dark {
  background-color: #6a6186;
  font-size: 2.25rem;
}

.center-button {
  text-align: center;
}

.flex-1 {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.remove-underline {
  text-decoration-line: none;
}

.show-underline-hover {
  text-decoration-line: none;
}

.show-underline-hover:hover {
  text-decoration-line: underline;
}

.text-color {
  color: #e8e9f0 !important;
}

.bookmarkBtn svg {
  transition: fill 0.5s ease;
  fill: #fff;
}

.bookmarkBtn.clicked svg {
  transition: fill 0.5s ease;
  fill: #000;
}
.ratingBorder {
  border: 1px solid black;
  border-radius: 16px;
}
.thumbsUpBtn svg {
  transition: fill 0.5s ease;
  fill: #fff;
  stroke: #000;
}

.thumbsUpBtn.clicked svg {
  transition: fill 0.5s ease;
  fill: #000;
  stroke: white;
}
.thumbsDownBtn svg {
  transition: fill 0.5s ease;
  fill: #fff;
  stroke: #000;
}

.thumbsDownBtn.clicked svg {
  transition: fill 0.5s ease;
  fill: #000;
  stroke: white;
}
